<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>363938303988-p2hh84h8qc6aej8cqooipm5vcf8i2sfa.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.363938303988-p2hh84h8qc6aej8cqooipm5vcf8i2sfa</string>
	<key>API_KEY</key>
	<string>AIzaSyAEZ631C7JcML6KLevArpDP8SE68xb4Gvk</string>
	<key>GCM_SENDER_ID</key>
	<string>363938303988</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.aehaldy.tabber</string>
	<key>PROJECT_ID</key>
	<string>tabber-8c89b</string>
	<key>STORAGE_BUCKET</key>
	<string>tabber-8c89b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:363938303988:ios:e08e6ef8e49aa3112473a1</string>
	<key>DATABASE_URL</key>
	<string>https://tabber-8c89b.firebaseio.com</string>
</dict>
</plist>